<footer>
    <div class="col-1">
        <h3>USEFUL LINKS</h3>
        <a href="">Blogs</a>
        <a href="">About</a>
        <a href="">Create a New Blog</a>
        <a href="">Search Blog</a>
    </div>
    <div class="col-2">
        <h3>SEARCH A BLOG</h3>
        <form action="">
            <input type="text" placeholder="Blog ID or any Keyword">
            <br>
            <button type="submit">Search</button>

        </form>
    </div>

</footer>