<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/blog_post.ejs') %>
    <%- include('./partials/footer.ejs') %>
              
</body>
</html>